@use "base/variables" as v;
@use "base/mixins" as m;

.info {
  width: 100%;
  // display: none;
  height: 0;
  pointer-events: none;
  overflow: hidden;
  transition: all 500ms ease;

  &__active {
    display: block;
    margin-top: 3.5rem;
    height: auto;
    padding: 3rem 2.5rem;
    background-color: v.$white;
    // width: 32.5rem;
    border-radius: 1rem;
    pointer-events: auto;
  }

  // Disappear menu
  @include m.medium {
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    pointer-events: auto;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__unfold {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    font-weight: bolder;
    line-height: 1;
    transition: color 300ms ease-in-out;
    color: v.$black;

    &:hover {
      text-decoration: underline;
    }

    &--down {
      color: v.$very-dark-grayish-blue;
    }
  }

  &__arrow {
    margin-left: 1rem;
    width: 1rem;
    height: 1rem;
    object-fit: contain;
    transition: transform 300ms ease-in-out;

    &--down {
      transform: rotate(0deg);
    }

    &--up {
      transform: rotate(180deg);
    }
  }

  &__links {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 1rem;
    background-color: v.$grayish-blue-links;
    transition: all 300ms ease-in-out;

    &--active {
      height: auto;
      padding: 3rem 0;
    }
  }

  &__link {
    text-decoration: none;
    padding: 0.5rem 0;
    color: v.$very-dark-grayish-blue;
    transition: font-weight 200ms ease-in-out;
    font-weight: bolder;

    @include m.medium {
      font-weight: normal;

      &:hover {
        font-weight: bolder;
      }
    }
  }

  &__sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 0;
    margin-top: 2.5rem;

    border-top: solid 0.1rem v.$grayish-blue;
    font-weight: bolder;

    &--link {
      padding: 1.5rem 4rem;
    }

    &--link:first-of-type {
      color: v.$black;
    }

    &--link:nth-child(2) {
      line-height: 1;
      color: v.$white;
      background: rgb(255, 143, 112);
      background: linear-gradient(
        90deg,
        rgba(255, 143, 112, 1) 0%,
        rgba(255, 61, 83, 1) 100%
      );
      border-radius: 10rem;
    }
  }
}
