@use "base/variables" as v;
@use "base/mixins" as m;

.navegation {
  //   width: 100%;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;

  @include m.medium {
    // flex-flow: row wrap;
    // justify-content: space-between;
    // align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    // justify-content: space-between;
    // align-items: center;
    align-items: flex-start;
    gap: 1rem;
  }

  @include m.large {
    gap: 6.5rem;
  }

  &__logo {
    object-fit: contain;
    width: 9rem;
    height: 4rem;

    @include m.medium {
      width: 10rem;
      height: 5rem;
    }
  }

  &__button {
    width: 4rem;
    height: 3.5rem;

    @include m.medium {
      display: none;
    }
  }

  &__menu {
    width: 4rem;
    height: 3.5rem;
    object-fit: contain;
  }
}
