@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
  max-width: 144rem;
  background-color: v.$very-dark-black-blue;
  padding: 7rem 0 8rem;

  &__grid {
    margin: 0 auto;
    max-width: 37.5rem;

    @include m.medium {
      max-width: 144rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
    }
  }

  &__logo {
    width: 10rem;
    height: 4.5rem;
    object-fit: contain;
    margin: 0 auto 3rem;

    @include m.medium {
      margin: 0;
    }
  }

  &__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__title {
    margin: 5rem 0 2rem;
    color: v.$white;

    @include m.medium {
      margin-top: 0;
    }
  }

  &__link {
    color: v.$grayish-blue-links;

    &:hover {
      text-decoration: underline;
    }
  }

  &__attribution {
    margin-top: 2.5rem;
    padding: 2.5rem 0 0;
  }

  &__copyright {
    text-align: center;
    font-weight: bolder;
    color: v.$white;
    margin: 0;
  }

  &__front,
  &__author {
    color: v.$light-red;
    transition: color 300ms ease-in-out;

    &:hover {
      color: v.$very-light-red;
    }
  }
}
